<% if @article.user_id == current_user.id %>
<%= link_to "Delete", @article, :method => :delete %> |
<%= link_to "Edit", edit_article_path(@article) %> 
<% end %>
<div class="row">
  <div class="large-3 columns">
    <%= @article.title %>
  </div>
  <div class="large-6 columns">
    <%= @article.body %>
  </div>
  <div class="large-3 columns">
    <%= image_tag @article.url %>
  </div>
</div>


